<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_Reports>
            <version>0.0.1</version>
        </OpsWay_Reports>
    </modules>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </customer_logout>
            <catalog_controller_product_view>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_controller_product_view>
            <sendfriend_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </sendfriend_product>
            <sales_quote_item_save_before>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </sales_quote_item_save_before>
            <wishlist_add_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </wishlist_add_product>
            <wishlist_share>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </wishlist_share>
        </events>
    </frontend>
</config>
